-f https://data.pyg.org/whl/torch-2.4.0+cu121.html
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
anyio
asttokens
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
click
decorator
exceptiongroup
executing
filelock
frozenlist
fsspec
gdown
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
ipython
jedi
Jinja2
joblib
littleutils
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mpmath
multidict
networkx
numpy==1.26.4
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
ogb
outdated
packaging
pandas
parso
pexpect
pillow
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyg-lib
Pygments
pyparsing
PySocks
python-dateutil
pytz
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
shellingham
six
soupsieve
stack-data
sympy
threadpoolctl
tokenizers
torch==2.4.0
torch-geometric
torch_cluster
torch_scatter
torch_sparse
torch_spline_conv
torchvision
tqdm
traitlets
transformers
triton
typer
typing_extensions
tzdata
urllib3
wcwidth
xxhash
yarl